.tileButtonContainer {
    background-size: 0;
    background-color: rgb(0,160,80);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.tileButtonContainer:hover, .tileButtonContainer.hover {
	 box-shadow: 0 0 7px rgba(0,0,0,0.5);
          background-color: rgb(0,150,75);
}

.icn-s-lst li:hover::before, .icn-s-lst li.selected::before {
    background-color: rgb(0,160,80);
}
.label.top-left {
    text-align: left;
    display: block;
    color: teal;
    font-size: 15px;
}

.upload-btns span.audio, .upload-btns span.video, .upload-btns span.document, .upload-btns span.image {
    padding: 10px;
    border-radius: 100%;
}

.geolive_window_title_content>*, .geolive_window_menu .iMenu li.iTitle {
    color: teal;
}

.Attribute_Item.keywords>.TextAttribute_Title {
    color: teal;
    font-weight: normal;
}

span.geolive-bar-marker.visible {
    display: none;
}
span.geolive-bar-marker.visible.a {
    display: inline-block;
    right: -10px;
    background-size: 100%;
}


div.l-colr>span {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    margin-right: 5px;
    margin-left: 54px;
}

div.l-colr>span.colr0 {
    background-color: rgb(254,255,169);
}
div.l-colr>span.colr1 {
    background-color: rgb(243, 224, 140);
}
div.l-colr>span.colr2 {
    background-color: rgb(230,195,112);
}
div.l-colr>span.colr3 {
    background-color: rgb(182,139,93);
}
div.l-colr>span.colr4 {
    background-color: rgb(133,82,78);
}